article {
    width: 500px;
    height: 500px;
    background-color: red;
}

.coiso {
    width: 50%;
    height: 50%;
    background-color: green;
}

.coisa {
    transform: translatey(100%);
    background-color: blue;
}
