article {
    width: 500px;
    height: 500px;
    background-color: red;
}

.coiso {
    width: 50%;
    height: 50%;
    background-color: green;
}

.coisa {
    transform: translatey(100%);
    background-color: blue;
}

.EM {
    font-size: 10px;
    height: 200px;
    padding: 1ch;
}

.margin-em {
    margin-bottom: 3em;
}

.EM p {
    font-size: 2em;
}
