body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    max-width: 940px; /* Talvez? */
    min-width: 320px;
}

.container {
    width: 96%;
    display: block;
}

header h1 {
    text-align: center;
}

header h1 img {
    max-width: 50%;
}

.menu-opcoes {
    position: static;
    text-align: center;
}

.menu-opcoes ul li {
    display: inline-block;
    margin: 5px;
}

.menu-opcoes li a {
    color: #003366;
}

.sacola {
    display: none;
}

/* Inicio main section do site */

.main-product {
    background-color: #f2f2f2;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.main-product > h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    line-height: 1.3;
}

.main-product > .price {
    font-style: italic;
    padding-bottom: 30px;
}

.form-product > legend {
    font-weight: bold;
    padding-bottom: 8px;
    padding-left: 5px
}

.color {
    position: relative; /* Para respeitar o pai */
}

.color-ball > .photo {
    display: none; /* Esconder as fotos */
    box-sizing: border-box; /* Só para não crescer o elemento */
    margin: 0 auto;
    width: 95%;
    margin-top: 60px;
    border: 2px solid #d4d4d4;
}

.color-ball::before {
    content: "";/* Para existir o conteudo, porém sem nada, assim fizemos a bolinha, sem o content não existe nada */
    position: absolute; /* Para tirar de contexto e colocar uma ao lado da outra */
    box-sizing: border-box;/* Não faz o elemento cresce com a borda colocada */
    width: 50px;
    height: 50px;
    top: 0;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;/* Para mudar o cursor e transformar na maozinha */
}

.color-ball[for="green"]::before {
    background-color: #33cc66;/* Mesma coisa */
    left: 10px;
}

.color-ball[for="pink"]::before {
    background-color: #ff6666; /* Mesma coisa */
    left: 80px;
}

.color-ball[for="blue"]::before {
    background-color: #6666ff; /* Dando cor ao elemento criado depois do color-ball */
    left: 150px
}

.input-color {
    display: none; /* Escondendo o radio */
}

.input-color:checked + .color-ball::before{
    border: 4px solid rgba(0, 0, 0, 0.4);/* Da uma escurecida na borda da bolinha de "input" (fizemos ela com css e escondemos o radio verdadeiro) */
}

.input-color:checked + .color-ball > .photo {
    display: block; /* Quando o input estiver checked a foto ira aparecer conforme o input selecionado, fazendo assim trocar as fotos conforme a cor */
}

.form-product > .buy {
    background-color: #91bd3c;
    color: #333;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: box-shadow 100ms linear, transform 50ms linear;
    margin: 10px 0 10px 5px;
}

.form-product > .buy:hover {
    box-shadow: none;
}

.form-product > .buy:active {
    transform: translateY(2px) scale(0.98);
}

.range output {
    display: inline-block;
    height: 44px;
    width: 44px;
    line-height: 44px; /* Tamanho entre as linhas, usado para centralizar */
    text-align: center;
    border: 3px solid #666;
    border-radius: 50%;
    color: #555;
}

/* Fim main section do site */

/* Inicio roda pé */

.roda-pe {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/fundo-rodape.png);
    position: relative;
    padding: 20px 0;
    border-radius: 5px;
    display: block;
}

.logo-footer {
    margin-top: 10px;
    margin-left: 15px;
}

.logo-footer img {
    width: 40%;
}

.social-media {
    position: absolute;
    top: 12px;
    right: 0;
}

.social-media a {
    display: block;
    float: left;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    margin-top: 12.5%;
}

.instagram img {
    width: 35px;
    height: 35px;
}
/* Fim roda pé */

/* Ideia para desktop */
@media (min-width: 800px) {

    body {
        margin: 0 auto;
    }

    header {
        position: relative;
    }
    
    .container {
        margin: 0 auto;
    }

    .container > h1 {
        position: relative;
        right: 37%;
    }    
    
    .sacola {
        background-image: url(../img/sacola.png);
        background-repeat: no-repeat;
        background-position: top right;
        font-size: 14px;
        text-align: right;
        width: 140px;
        padding-right: 35px; 
        padding-top: 8px;
        position: absolute;
        right: 0;
        top: 0
    }

    .menu-opcoes {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .sacola {
        display: block; /* Para sair do display none */
    }
    /*  */

    .color {
        width: 100%;
    }

    .color-ball::before {
        position: static; /* Perder o absolute e sair do contexto, assim evita do elemento ficar sobre a .photo */
        display: inline-block;
        margin-right: 10px;
    }

    .color .photo {
        float: left;
        width: 428px;
        margin: 0 20px 2px 10px;
    }

    .main-product fieldset {
        display: inline-block; /* Perde o comportamento block, assim evitando o elemento color-ball::before ficar em cima da .photo */
        vertical-align: top;
        margin: 1em 0;
        min-width: 240px;
        /* width: 45%; Tirei pelo conflito com o float na imagem, assim o elemento color-ball::before fica ao lado da imagem, como no layout*/
    }

    .logo-footer > img {
        width: 15%;
    }


}
/* Fim ideia para desktop */

/* @media (min-width: 480px) {
    .color-ball > .photo {
        width: 428px;
        float: left;
        margin-left: 11.547px;
    }
} */