body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    max-width: 940px; /* Talvez? */
    min-width: 320px;
}

.container {
    width: 96%;
    display: block;
}

header h1 {
    text-align: center;
}

header h1 img {
    max-width: 50%;
}

.menu-opcoes {
    position: static;
    text-align: center;
}

.menu-opcoes ul li {
    display: inline-block;
    margin: 5px;
}

.menu-opcoes li a {
    color: #003366;
}

.sacola {
    display: none;
}

/* Inicio main section do site */

.main-product {
    background-color: #f2f2f2;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.main-product > h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    line-height: 1.3;
}

.main-product > .price {
    font-style: italic;
    padding-bottom: 30px;
}

.color > legend {
    font-weight: bold;
}

.color label img {
    display: block;
    margin: 0 auto;
    width: 95%;
}

.color-ball::before {
    content: "";
    display: block;
    box-sizing: border-box;/* Não faz o elemento cresce com a borda colocada */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}

.color-ball[for="green"]::before {
    background-color: #33cc66;
}

.color-ball[for="pink"]::before {
    background-color: #ff6666;
}

.color-ball[for="blue"]::before {
    background-color: #6666ff;
}

.input-color {
    display: none;
}

.input-color:checked + .color-ball::before{
    border: 4px solid rgba(0, 0, 0, 0.4);
}

.form-product > .buy {
    background-color: #91bd3c;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

/* Fim main section do site */

/* Inicio roda pé */

.roda-pe {
    width: 96%;
    margin: 0 auto;
    background-image: url(../img/fundo-rodape.png);
    position: relative;
    padding: 20px 0;
    border-radius: 5px;
    display: block;
}

.logo-footer {
    margin-top: 10px;
    margin-left: 15px;
}

.logo-footer img {
    width: 40%;
}

.social-media {
    position: absolute;
    top: 12px;
    right: 0;
}

.social-media a {
    display: block;
    float: left;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    margin-top: 12.5%;
}

.instagram img {
    width: 35px;
    height: 35px;
}
/* Fim roda pé */

/* Ideia para desktop */
@media (min-width: 800px) {

    body {
        margin: 0 auto;
    }

    header {
        position: relative;
    }
    
    .container {
        margin: 0 auto;
    }

    .container > h1 {
        position: relative;
        right: 37%;
    }    
    
    .sacola {
        background-image: url(../img/sacola.png);
        background-repeat: no-repeat;
        background-position: top right;
        font-size: 14px;
        text-align: right;
        width: 140px;
        padding-right: 35px; 
        padding-top: 8px;
        position: absolute;
        right: 0;
        top: 0
    }

    .menu-opcoes {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    /*  */

    .sacola {
        display: block;
    }

    .logo-footer > img {
        width: 15%;
    }
}
/* Fim ideia para desktop */